{% extends "base.html" %}

{% block content %}

    <div class="row justify-content-center">
        <h2>{{ title }}</h2>
    </div>

    <div class="row justify-content-center">
        {% if cases %}


        <table class="table">
            <thead class="thead-light">
            <tr>
                <th scope="col">Доктор</th>
                <th scope="col">Дата</th>
                <th scope="col">Диагноз</th>
            </tr>
            </thead>
            <tbody>
            {% for elem in cases %}
            <tr>
                <td>{{ elem.doctor.surname }}</td>
                <td>{{ elem.date }}</td>
                <td>{{ elem.diagnosis }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
            Личный кабинет доступен только для роли "Регистратор"
        {% endif%}
    </div>

    <div class="row">
        <a class="btn btn-primary" href="/cases_add">Добавить запись</a>
    </div>

{% endblock %}
