{% extends "base.html" %}

{% block content %}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-warning" role="alert">
        {% for message in messages %}
        {{ message }}<br>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    <h1>Контент</h1>

    <a href="login">login</a><br>
    <a href="moscow_clinic_list">moscow_clinic_list</a><br>
    <a href="parse_and_show">parse_and_show</a><br>
    <a href="logout">logout</a><br>
    <a href="admin">admin</a><br>
    <br>
    <a href="/api/v1.0/doctors">/api/v1.0/doctors/</a><br>
    <a href="/api/v1.0/doctors/1">/api/v1.0/doctors/1</a><br>

{% endblock %}
