{% extends "base.html" %}

{% block content %}

    <div class="row justify-content-center">
        <h2>{{ title }}</h2>
    </div>

    <div class="row justify-content-center">
        {% if timing %}


        <table class="table">
            <thead class="thead-light">
            <tr>
                <th scope="col">Доктор</th>
                <th scope="col">Дата</th>
                <th scope="col">Часы c</th>
                <th scope="col">Минуты с</th>
                <th scope="col">Часы по</th>
                <th scope="col">Минуты по</th>
            </tr>
            </thead>
            <tbody>
            {% for elem in timing %}
            <tr>
                <td>{{ elem.doctor.surname }}</td>
                <td>{{ elem.day.strftime("%d.%m.%Y") }}</td>
                <td>{{ elem.hours_with }}</td>
                <td>{{ elem.minutes_with }}</td>
                <td>{{ elem.hours_to }}</td>
                <td>{{ elem.minutes_to }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
            Личный кабинет доступен только для роли "Доктор"
        {% endif%}
    </div>

    <div class="row">
        <a class="btn btn-primary" href="/timing_add">Добавить запись</a>
    </div>

{% endblock %}